<div class="form-group">
    <label for="custName">customerr</label>
    <input type="text" id="txtName" class="form-control" data-ng-model="item.name"/>
</div>

<div class="form-group">
    <label for="itemName">itemName</label>
    <select name="itemName" id="itemName" class="form-control" data-ng-model="item.item">
        <option value="Medicine1">Panadol</option>
        <option value="Medicine1">fasdfds</option>
        <option value="Medicine1">fasdfds</option>
        <option value="Medicine1">fsdfdfd</option>

    </select>


</div>

<div class="form-group">
    <button class="btn btn-primary" data-ng-click="save()">Save</button>
    <button class="btn btn-primary" data-ng-click="cancel()">Cancel</button>
</div>